[global_config]
  borderless = True
  dbus = False
  extra_styling = False
  putty_paste_style = True
[keybindings]
  full_screen = <Alt>Return
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    audible_bell = True
    background_color = "#1e1e1e"
    background_darkness = 0.8
    background_type = transparent
    cursor_color = "#edcf4f"
    custom_command = /bin/sh
    font = DejaVu Sans Mono Bold 12
    foreground_color = "#f7f6ec"
    login_shell = True
    palette = "#343935:#cf3f61:#7bb75b:#e9b32a:#4c9ad4:#a57fc4:#389aad:#fafaf6:#595b59:#d18fa6:#767f2c:#78592f:#135979:#604291:#76bbca:#b2b5ae"
    scroll_on_keystroke = False
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
